anyburl-rules.txt filter=lfs diff=lfs merge=lfs -text
test.txt filter=lfs diff=lfs merge=lfs -text
train.txt filter=lfs diff=lfs merge=lfs -text
valid.txt filter=lfs diff=lfs merge=lfs -text
compute_par.pl filter=lfs diff=lfs merge=lfs -text
compute_stats.pl filter=lfs diff=lfs merge=lfs -text
train.pl filter=lfs diff=lfs merge=lfs -text
scriptlp4kg_stats.sh filter=lfs diff=lfs merge=lfs -text
scriptlp4kgtorchpar.sh filter=lfs diff=lfs merge=lfs -text
